@import "../colors.scss";

$videoOverlayElementsOffsetBottom: 25px;
$videoOverlayElementBorderRadius: 6px;
$videoOverlayElementHeight: 44px;

.video-player-container {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.video {
  display: flex;
}

.video-player-container__overlay {
  position: relative;
  overflow: hidden;
}


.video-playback-button__image {
  width: 20px;
  height: 20px;
  fill: $lightGray;
}


.video-overlay-element {
  position: absolute;
  bottom: $videoOverlayElementsOffsetBottom;
  z-index: 10;
  background-color: $darkGray;
  opacity: 0.4;
  outline: none;
  transition: all 150ms;
  height: $videoOverlayElementHeight;
  box-sizing: border-box; //to achieve the same height for all elements regardless of padding
}

.video-playback-button {
  @extend .video-overlay-element;
  left: 0;
  border: 0;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-bottom-right-radius: $videoOverlayElementBorderRadius;
  border-top-right-radius: $videoOverlayElementBorderRadius;
  transform: translateX(-80%); //This might be annoying if navigating without a mouse, but this way we hide less content of the video
}

.video-duration-indicator {
  @extend .video-overlay-element;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  right: 0;
  color: $lightGray;
  font-size: 1rem;
  padding-left: 20px;
  border-bottom-left-radius: $videoOverlayElementBorderRadius;
  border-top-left-radius: $videoOverlayElementBorderRadius;
  width: 9rem; //supporting video lengths which are greater than an hour requires additional work
  transform: translateX(90%);
}

.video-player-container__overlay:hover {
  /*
    I wanted to add "&:focus" to improve keyboard controls.
    However, this over-complicates hiding the button after a mouse-button click, since the overlay will remain visible
  */

  .video-overlay-element {
    opacity: 1;
  }

  .video-playback-button {
    transform: translateX(0);
  }

  .video-duration-indicator {
    transform: translateX(0);
  }
}