@import "../colors";

$progressBarHeight: 6px;
$progressBarColor: $redColor;
$progressBarContainerColor: $lightGray;

.video-progress-bar {
  display: flex;
  height: $progressBarHeight;
  background-color: $progressBarContainerColor;
}

.video-progress-bar__inner {
  background-color: $progressBarColor;
  transition: all 250ms;
}