@import "../baseStyle";

.social {
  grid-area: social;
  margin-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__views-counter {
  @include appFont;
  font-size: $fontSizeNormal;
}
